<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.ecoinfo.pruebas"
    version   = "1.0.0">

<name>hola pruebas phonegap</name>

<description>
esto es para algo
</description>

<author href="https://example.com" email="you@example.com">
erick
</author>

</widget>
